.message {
  width: fit-content;
  margin: 60px auto;

  text-align: center;
}

.message *:last-child {
  margin-top: 12px;
  margin-left: 12px;
}

.header {
  margin-bottom: 40px;
  text-align: center;
}

.header p {
  text-transform: uppercase;
  color: var(--main-fade-color);
}
