.register {
  border: 2px solid var(--main-fade-color);
  background-color: transparent;
}

.register:hover {
  color: white;
  background: var(--main-fade-color);
}

.view {
  border: 2px solid var(--main-dark-color);
  background-color: transparent;
}

.view:hover {
  color: white;
  background: var(--main-dark-color);
}
