@import "modern-normalize/modern-normalize.css";

:root {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;

  --main-color: #1483c7;
  --main-light-color: #dbebf794;
  --main-fade-color: #6aa2d1;
  --main-dark-color: #0d2d55;
}

* {
  margin: 0;
  padding: 0;
  transition: 0.25s ease-out;
  transition-property: scale, color, background-color, border-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* h1,
h2,
h3 {
  text-align: center;
} */

input {
  outline: none;
  border: 2px solid var(--main-dark-color);
  border-radius: 8px;
  padding: 8px 12px;
  font-size: inherit;
  color: inherit;
}

input:disabled {
  background-color: rgba(128, 128, 128, 0.192);
}

input:focus {
  border-color: var(--main-color);
}

body {
  min-width: 360px;
  color: var(--main-dark-color);
}

.cta {
  display: inline-block;
  padding: 8px 12px;

  font-size: inherit;

  color: inherit;
  background-color: transparent;

  border: 2px solid var(--main-dark-color);
  border-radius: 8px;
  outline: 0;

  cursor: pointer;
}

.cta:hover {
  color: white;
  background-color: var(--main-color);
  border-color: var(--main-color);
}
